<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_3.xsd" id="WebApp_ID" version="2.3">
  <display-name>mytest</display-name>
  <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener
      </listener-class>
  </listener>
<context-param>
<param-name>logbackConfigLocation</param-name>
<param-value>classpath:logback.xml</param-value>
</context-param>
<context-param>
<param-name>contextConfigLocation</param-name>
<param-value>classpath:/config/springmvc.xml</param-value>
<!-- <load-on-startup>1</load-on-startup> -->
</context-param>
<!--   <servlet> -->
<!--     <servlet-name>itemsController1</servlet-name> -->
<!--     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
<!--     <init-param> -->
<!--       <param-name>contextConfigLocation</param-name> -->
<!--       <param-value>classpath:/config/springmvc.xml</param-value> -->
      
<!--     </init-param> -->
<!--      <load-on-startup>1</load-on-startup>  -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>itemsController1</servlet-name> -->
<!--     <url-pattern>*.do</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>itemsController1</servlet-name> -->
<!--     <url-pattern>*.json</url-pattern> -->
<!--   </servlet-mapping> -->
  <session-config>
      <session-timeout>10</session-timeout>
</session-config>
  <filter>
      <filter-name>struts2</filter-name>
      <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
   <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping> 
   <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping> 
  <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/zh_CN/error.jsp</location>
  </error-page>
  <error-page>
      <error-code>500</error-code>
      <location>/WEB-INF/zh_CN/error.jsp</location>
  </error-page>
  
<!--   <welcome-file-list> -->
<!--     <welcome-file>index.jsp</welcome-file> -->
<!--   </welcome-file-list> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>itemsController1</display-name> -->
<!--     <servlet-name>itemsController1</servlet-name> -->
<!--     <servlet-class>com.zh.itemsController1</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>itemsController1</servlet-name> -->
<!--     <url-pattern>/itemsController1</url-pattern> -->
<!--   </servlet-mapping> -->
</web-app>